<section>
  <div>
    <div>
      <h1>Mensajes enviados</h1>
    </div>
    <div>
      <!-- tabla -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Para</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Mensaje</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div>
      <!-- botonnuevomsj -->
      <div class="botones__container">
        <div>
          <a
            routerLink="/newmessages"
            class="boton"
            mat-raised-button
            color="accent"
            >Nuevo mensaje</a
          >
          <a
            routerLink="/recibidos"
            class="boton"
            mat-raised-button
            color="accent"
            >Recibidos</a
          >
          <a routerLink="/home" class="boton" mat-raised-button color="accent"
            >Volver</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
