@use "../../shared/abstracts/colors" as *;

.main {
  min-height: calc(100vh - 130px);
  background-color: $background-color;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.example-full-width {
  width: 100%;
}

.newmsg__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;

  max-width: 400px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $background-color-strong;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.boton {
  margin: 10px;
  color: $background-color-strong;
  background-color: $background-color;
}
