<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- <section>
  <div class="ingreso__container">
    <div class="ingreso">
      <h1>Ingreso al sistema</h1>
    </div>
    <div class="botones">
      <a routerLink="/login" class="boton" mat-raised-button color="accent"
        >Iniciar sesión</a
      >
      <a routerLink="/register" class="boton" mat-raised-button color="accent"
        >Registrarse</a
      >
    </div>
  </div>
</section> -->

<!-- ------------------ -->
<!-- -------Main------- -->
<!-- ------------------ -->

<main id="main" class="main">
  <section class="main_content">
    <h2 class="main_content_subtitle">Ingreso al sistema</h2>
    <div class="main_content_buttons">
      <a
        routerLink="/login"
        class="main_content_buttons--button"
        mat-raised-button
        >Iniciar sesión</a
      >
      <a
        routerLink="/register"
        class="main_content_buttons--button"
        mat-raised-button
        >Registrarse</a
      >
    </div>
  </section>
</main>
