@use "../../shared/abstracts/colors" as *;

table {
  width: 100%;
}

.botones__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  margin: 10px;
  color: $background-color;
  background-color: $background-color-strong;
}

.title {
  color: $primary-color;
  margin-left: 75px;
}

.section {
  min-height: calc(100vh - 120px);
}

.table {
  margin: 50px;
}
