<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--Desde las páginas web se deben dar las siguientes opciones: 
Registrarse en la aplicación con un nombre de usuario y una contraseña. Cada usuario debe seleccionar la ciudad y el país donde reside.
 Acceder a la aplicación mediante un nombre de usuario y una contraseña.
 Ver la lista de mensajes recibidos. Los mensajes se visualizarán en la misma pantalla de listado.
Ver la lista de mensajes enviados.
Enviar un mensaje a un destinatario
Eliminar un mensaje.
-->
