<!-- <section>
  <div class="login__container">
    <div class="iniciar">
      <h1>Iniciar sesión</h1>
    </div>
    <div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Ingrese su email</mat-label>
          <input
            matInput
            placeholder="pepe@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="botones__container">
      <div>
        <a
          routerLink="/recibidos"
          class="boton"
          mat-raised-button
          color="accent"
          >Ingresar</a
        >
        <a routerLink="/home" class="boton" mat-raised-button color="accent"
          >Volver</a
        >
      </div>
    </div>
  </div>
</section> -->

<!------------------------------------------------------>

<main class="main">
  <div class="login__container">
    <div class="iniciar">
      <h1>Iniciar sesión</h1>
    </div>
    <div>
      <div class="example-container">
        <mat-form-field class="label" appearance="fill">
          <mat-label>Ingrese su email</mat-label>
          <input
            matInput
            placeholder="pepe@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="example-container">
      <mat-form-field class="label" appearance="fill">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="botones__container">
      <div>
        <a routerLink="/recibidos" class="boton" mat-raised-button>Ingresar</a>
        <a routerLink="/home" class="boton" mat-raised-button>Volver</a>
      </div>
    </div>
  </div>
</main>
