<!-- <footer>
  <div class="footer__container">
    <h2 class="footer__content">Soy un footer</h2>
  </div>
</footer> -->

<!-- ------------------------------ -->

<!-- ------------------ -->
<!-- ------Footer------ -->
<!-- ------------------ -->

<footer class="footer">
  <h4>Creado por Tomas Design - 2021</h4>
  <!-- antes era un h1, pero como h1 ya trae su peso, en este caso no me dejaba pisarlo, asi que lo pase a p
      para que tome el peso que yo le diga. Pero luego lo pasé a h4 y en footer.scss meti el contenido de .footer antes dentro de un h4. -->
</footer>
